@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700");
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box; }

body {
  font-family: "Crimson Text", serif;
  background-color: #E8E8E8;
  color: #292F36; }

.container header {
  position: relative;
  height: 100vh;
  padding-top: 30vh;
  padding-left: 50px;
  background-color: #E8E8E8;
  color: #292F36; }
  .container header h1 {
    margin-bottom: 35px;
    font-size: 5em;
    font-weight: 600;
    letter-spacing: 4px; }
  .container header p {
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 400; }
.container .socialLinks {
  position: absolute;
  top: 25px;
  right: 25px; }
  .container .socialLinks ul {
    list-style: none; }
    .container .socialLinks ul li {
      display: inline-block;
      padding-left: 50px; }
      .container .socialLinks ul li a img {
        width: 75px; }
@media only screen and (max-width: 320px) {
  .container header {
    padding-top: 35px;
    padding-left: 0px;
    text-align: center; }
    .container header h1 {
      font-size: 4em; }
    .container header p {
      font-size: 1.2em; }
  .container .socialLinks {
    position: static; }
    .container .socialLinks ul {
      padding-top: 15px; }
      .container .socialLinks ul li {
        display: block;
        padding: 10px 0 15px 0; }
        .container .socialLinks ul li a img {
          width: 25px; } }
.container .greet {
  height: 100vh;
  background-color: #79BEEE;
  padding-top: 15vh;
  padding-left: 50px; }
  @media only screen and (max-width: 320px) {
    .container .greet {
      padding: 55px 10px 15px 10px;
      height: 750px;
      text-align: center; } }
  .container .greet h2 {
    font-size: 3.7em;
    margin-bottom: 50px; }
  .container .greet .greetParagraphs {
    max-width: 1200px; }
    .container .greet .greetParagraphs p {
      display: inline-block;
      font-size: 1.7em;
      margin-bottom: 25px;
      line-height: 55px; }
      .container .greet .greetParagraphs p .paragraphHighlight {
        background-color: #E8E8E8;
        color: #292F36;
        padding: 5px 10px; }
      .container .greet .greetParagraphs p .underline {
        border-bottom: 2px solid #E8E8E8; }
    @media only screen and (max-width: 1200px) {
      .container .greet .greetParagraphs p {
        font-size: 1.2em;
        line-height: 25px; } }
  @media only screen and (max-width: 1200px) {
    .container .greet .greetParagraphs {
      max-width: 500px; } }
.container .workSection {
  height: 100vh;
  margin-top: 150px;
  text-align: center; }
  @media only screen and (max-width: 320px) {
    .container .workSection {
      height: 950px; } }
  .container .workSection h3 {
    font-size: 2em;
    font-weight: 300;
    margin-bottom: 20px; }
  .container .workSection p {
    line-height: 25px;
    margin-bottom: 30px; }
  .container .workSection .workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    max-width: 800px;
    margin: 100px auto 0 auto; }
    .container .workSection .workGrid .workPanel {
      background-color: #292F36;
      color: #E8E8E8;
      padding: 25px; }
      .container .workSection .workGrid .workPanel img {
        width: 100%; }
    .container .workSection .workGrid .left {
      grid-column: 1/2; }
    .container .workSection .workGrid .right {
      grid-column: 2/3; }
  @media only screen and (max-width: 1200px) {
    .container .workSection .workGrid {
      display: block; }
      .container .workSection .workGrid .workPanel {
        width: 400px;
        margin: 15px auto; } }
  @media only screen and (max-width: 320px) {
    .container .workSection {
      display: block; }
      .container .workSection .workPanel {
        width: 150px;
        margin: 15px auto; } }
  @media only screen and (max-width: 320px) {
    .container .workSection {
      margin-top: 0;
      padding-top: 25px;
      background-color: #292F36;
      color: #E8E8E8; }
      .container .workSection h2 {
        font-size: 2.5em; }
      .container .workSection .workGrid {
        display: block;
        margin-top: 15px; }
        .container .workSection .workGrid .workPanel {
          width: 100%; } }
.container footer {
  height: 100vh;
  background-color: #292F36;
  color: #FF8A5B;
  text-align: center; }
  @media only screen and (max-width: 320px) {
    .container footer {
      background-color: #CC2936;
      height: 800px;
      color: #292F36;
      padding: 0 15px 0 15px; } }
  .container footer span {
    display: inline-block;
    margin-top: 150px;
    font-size: 5em; }
    @media only screen and (max-width: 320px) {
      .container footer span {
        margin-top: 0;
        margin-top: 15px;
        background-color: #CC2936;
        color: #E8E8E8;
        display: inline-block; } }
  .container footer p {
    max-width: 400px;
    margin: 50px auto;
    color: #E8E8E8;
    line-height: 45px;
    font-size: 1.4em; }
    @media only screen and (max-width: 320px) {
      .container footer p {
        color: #292F36; } }
.container div ul {
  list-style: none; }
@media only screen and (min-width: 800px) {
  .container div ul {
    list-style: none; }
    .container div ul li {
      display: inline-block; } }

/*# sourceMappingURL=style.css.map */
