@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700')

//var
$font: 'Crimson Text', serif
$white: #E8E8E8
$black: #292F36
$coral: #FF8A5B
$red: #CC2936
$blue: #79BEEE

@mixin tablet 
  @media only screen and (max-width:1200px)
    @content

@mixin overTab
  @media only screen and (min-width:800px)
    @content

@mixin phone
  @media only screen and (max-width:320px)
    @content

*
  margin: 0
  padding: 0
  outline: none
  box-sizing: border-box

body
  font-family: $font
  background-color: $white
  color: $black

.container
  
  header
    position: relative
    height: 100vh
    padding-top: 30vh
    padding-left: 50px
    background-color: $white
    color: $black

    h1
      margin-bottom: 35px
      font-size: 5em
      font-weight: 600
      letter-spacing: 4px      
    
    p
      margin-bottom: 15px
      margin-left: 10px
      font-size: 1.5em
      font-weight: 400
       
  .socialLinks
    position: absolute
    top: 25px
    right: 25px

    ul
      list-style: none
      li
        display: inline-block
        padding-left: 50px
        a
          img
            width: 75px
  @include phone
    header
      padding-top: 35px
      padding-left: 0px
      text-align: center 
      h1
        font-size: 4em
      p
        font-size: 1.2em
      
    .socialLinks
      position: static
      ul
        padding-top: 15px
        li
          display: block
          padding: 10px 0 15px 0
          a
            img
              width: 25px

  .greet
    height: 100vh
    background-color: $blue
    padding-top: 15vh
    padding-left: 50px
    @include phone
      padding: 55px 10px 15px 10px
      height: 750px      
      text-align: center
      
      


    h2    
      font-size: 3.7em
      margin-bottom: 50px
 

    .greetParagraphs
      max-width: 1200px
   
      p
        display: inline-block
        font-size: 1.7em      
        margin-bottom: 25px
        line-height: 55px
      
        .paragraphHighlight
          
          background-color: $white
          color: $black
          padding: 5px 10px
        .underline
          border-bottom: 2px solid $white
      @include tablet
        p
          font-size: 1.2em
          line-height: 25px
          
    @include tablet
      .greetParagraphs
        max-width: 500px  

  .workSection
    height: 100vh
    margin-top: 150px    
    text-align: center

    @include phone
      height: 950px

    h3
      font-size: 2em
      font-weight: 300
      margin-bottom: 20px

    p
      line-height: 25px
      margin-bottom: 30px
    .workGrid
      display: grid
      grid-template-columns: 1fr 1fr 
      grid-column-gap: 50px     
      max-width: 800px
      margin: 100px auto 0 auto       
      
      .workPanel
        background-color: $black    
        color: $white
        padding: 25px
        img
          width: 100%        
        
      .left
        grid-column: 1/2
      .right
        grid-column: 2/3

    @include tablet
      .workGrid
        display: block
        .workPanel
          width: 400px          
          margin: 15px auto
    @include phone
      .workGrid
      display: block
      .workPanel
        width: 150px          
        margin: 15px auto
    @include phone
      margin-top: 0
      padding-top: 25px
      background-color: $black
      color: $white
      h2
        font-size: 2.5em 
      .workGrid
        display: block
        margin-top: 15px
        .workPanel
          width: 100%


    
  
  footer
    height: 100vh
    background-color: $black
    color: $coral
    text-align: center
    @include phone
      background-color: $red
      height: 800px
      color: $black
      padding: 0 15px 0 15px
      

    span
      display: inline-block
      margin-top: 150px
      font-size: 5em
      @include phone
        margin-top: 0
        margin-top: 15px
        background-color: $red
        color: $white
        display: inline-block
    p
      max-width: 400px
      margin: 50px auto
      color: $white
      line-height: 45px
      font-size: 1.4em
      @include phone
        color: $black

  div
    ul
      list-style: none
    @include overTab
      ul
        list-style: none
        li
          display: inline-block



    



